<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/css/mdb.min.css" rel="stylesheet">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"crossorigin="anonymous">
      <link rel='stylesheet' type='text/css' href="/public/index.css" /> 
     <script  src="/public/main.js" type="text/javascript"></script>

<!-- The title variable will be replaced with the title of every page -->
<title>{{title}}</title>
</head>
<body>

<!-- Content of other pages will replace the body variable -->
{{{body}}}

</body>
{{> footer }}
</html>
