<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"crossorigin="anonymous">

     
      <link rel="stylesheet"  href="public/css/bootstrap.css">
      <link rel='stylesheet' href="public/css/styles.css" /> 
      <link rel='stylesheet' href="/public/css/mdbootstrap/scss/mdb.css" /> 

<!-- The title variable will be replaced with the title of every page -->
</head>
<body>

<!-- Content of other pages will replace the body variable -->
{{{body}}}


{{> footer }}

    <script src="/public/js/jquery.min.js" type="text/javascript"></script>
    <script src="/public/js/tether.min.js" type="text/javascript"></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/public/js/mdb.min.js" type="text/javascript"></script>
    <script  src="/public/js/main.js" type="text/javascript"></script>
</body>
</html>
