<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div style="background-color: #21d192;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!--Facebook-->
          <a class="btn-floating btn-lg btn-fb"><i class="fa fa-facebook"></i></a>
          <!--Twitter-->
          <a class="btn-floating btn-lg btn-tw"><i class="fa fa-twitter"></i></a>
          <!--Linkedin-->
          <a class="btn-floating btn-lg btn-li"><i class="fa fa-linkedin"></i></a>
          <!--Instagram-->
          <a class="btn-floating btn-lg btn-ins"><i class="fa fa-instagram"></i></a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">OlooVentures</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Contact us for more information. If your start up we are here to invest in you. </p>

      </div <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home mr-3"></i> Washington, DC 10012, US
        </p>
        <p>
          <i class="fa fa-envelope mr-3"></i> connect@OlooVentures.com
        </p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 01 234 567 88
        </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
    <p>OlooVentures<p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->